
#header-form{
    position: absolute;
    background-color: #293133;
    top: 20%;
    left: 0;
    width: 99.7%;
    height: 70px;
    border-style: groove;
    border-color: #ff4500;

}
.btn{
    background-color: transparent;
    border: 0;
    width: 100px;
    height: 70px;
    font-size: 20px;
    color: aliceblue;
}
.btn:active{
    background-color: #ff4500;
}
.btn:hover{
    color: #ff4500;
}

.btnn{
    background-color: transparent;
    border: 0;
    width: 200px;
    height: 70px;
    font-size: 20px;
    color: aliceblue;
}
.btnn:active{
    background-color: #ff4500;
}
.btnn:hover{
    color: #ff4500;
}
.posit{
    position: absolute;
    left: 20%;
}


