body {
    background-color: #232627;
}
#header-form{
    position: absolute;
    background-color: #293133;
    top: 0%;
    left: 0;
    width: 99.6%;
    height: 70px;
    border-style: groove;
    border-color: #ff4500;

}
.btn {
    background-color: transparent;
    border: 0;
    width: 100px;
    height: 70px;
    font-size: 20px;
    color: aliceblue;
}
.btn:active{
    background-color: #ff4500;
}
.btn:hover{
    color: #ff4500;
}
.btn-act{
    background-color: #ff4500;
    border: 0;
    width: 100px;
    height: 70px;
    font-size: 20px;
    color: aliceblue;
}
.btn-act:hover{
    color: gray;
}

.btnn{
    background-color: transparent;
    border: 0;
    width: 200px;
    height: 70px;
    font-size: 20px;
    color: aliceblue;
}
.btnn:active{
    background-color: #ff4500;
}
.btnn:hover{
    color: #ff4500;
}
.posit{
    position: absolute;
    left: 20%;
}
#button-reg{
    position: absolute;
    top: 2%;
    left: 80%;
}
.button-regg{
    font-size: 30px;
    background-color: gray;
    border: 1px;
    color: #293133;
    border-color: dimgrey;
}
.button-regg:hover{
    color: #ff4500;
}
main {
    left: 35%;
    top: 15%;
    position: absolute;
    background-color: #181a1b;
    width: 600px;
    height: 600px;
    color: white;
}
#input_login {
    position: absolute;
    top: 5%;
    font-size: 50px;
    left: 40%;
}
#form-login {
    position: absolute;
    top: 20%;
    left: 8%;
    font-size: 25px;
}
.input-login {
    position: absolute;
    background-color: #181a1b;
    border: 1px solid #cecece;
    width: 500px;
    height: 40px;
    color: aliceblue;
    font-size: 20px;
}
.radio-login{
    position: absolute;
    top: 300px;
    font-size: 20px;
    color: white;
}
.button-login {
    position: absolute;
    left: 160px;
    top: 300px;
    width: 150px;
    height: 50px;
    background-color: #980500;
    color: white;
    font-size: 20px;
    border: 0;
}
.button-login:hover {
    background-color: #af0600;
}
.button-reg-new-acc {
    background-color: #232627;
    position: absolute;
    top: 400px;
    width: 350px;
    height: 40px;
    left: 75%;
    color: white;
    border: 0;
    font-size: 17px;
}
.button-reg-new-acc:hover {
    background-color: #2b2f31;
}
.footer-block {
    position: absolute;
    background-color: #293133;
    top: 10%;
    left: 0;
    width: 99.6%;
    height: 70px;
    border-style: groove;
    border-color: #ff4500;
}