body{
    background-color: dimgrey;
}
#header-form{
    position: absolute;
    background-color: #293133;
    top: 20%;
    left: 0;
    width: 99.7%;
    height: 70px;
    border-style: groove;
    border-color: #ff4500;

}
.btn{
    background-color: transparent;
    border: 0;
    width: 100px;
    height: 70px;
    font-size: 20px;
    color: aliceblue;
}
.btn:active{
    background-color: #ff4500;
}
.btn:hover{
    color: #ff4500;
}
.btn-act{
    background-color: #ff4500;
    border: 0;
    width: 100px;
    height: 70px;
    font-size: 20px;
    color: aliceblue;
}
.btn-act:hover{
    color: gray;
}

.btnn{
    background-color: transparent;
    border: 0;
    width: 200px;
    height: 70px;
    font-size: 20px;
    color: aliceblue;
}
.btnn:active{
    background-color: #ff4500;
}
.btnn:hover{
    color: #ff4500;
}
.posit{
    position: absolute;
    left: 20%;
}
#button-reg{
    position: absolute;
    top: 22.5%;
    left: 80%;
}
.button-regg{
    font-size: 30px;
    background-color: gray;
    border: 1px;
    color: #293133;
    border-color: dimgrey;
}
.button-regg:hover{
    color: #ff4500;
}

